body {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.title {
	color: gray;
	margin: 0;
}

.note {
	color: gray;
	font-size: 0.8em;
}

.footer {
	text-align: left;
	color: gray;
	font-size: 0.8em;
	a {
		color: gray;
	}
}