/* line 1, ../sass/screen.scss */
body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-image: url("images/wall2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/* line 9, ../sass/screen.scss */
.title {
  color: white;
  margin: 0;
}

/* line 14, ../sass/screen.scss */
.note {
  color: white;
  font-size: 0.8em;
}

/* line 19, ../sass/screen.scss */
.footer {
  text-align: left;
  color: white;
  font-size: 0.8em;
}
/* line 23, ../sass/screen.scss */
.footer a {
  color: white;
}

/* line 28, ../sass/screen.scss */
.tooltip {
  display: none;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  padding: 2px 3px 2px 3px;
  border: none;
  border-radius: 3px;
}

/* line 38, ../sass/screen.scss */
.countryNode {
  cursor: pointer;
}
